@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
    --background: 227 100% 95%;
    --foreground: 227 5% 6%;
    --card: 227 50% 90%;
    --card-foreground: 227 5% 10%;
    --popover: 227 100% 95%;
    --popover-foreground: 227 100% 6%;
    --primary: 227 53% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 227 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 189 30% 85%;
    --muted-foreground: 227 5% 35%;
    --accent: 189 30% 80%;
    --accent-foreground: 227 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 227 5% 90%;
    --border: 227 30% 50%;
    --input: 227 30% 18%;
    --ring: 227 53% 18%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 227 50% 6%;
    --foreground: 227 5% 90%;
    --card: 227 50% 6%;
    --card-foreground: 227 5% 90%;
    --popover: 227 50% 5%;
    --popover-foreground: 227 5% 90%;
    --primary: 227 53% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 227 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 189 30% 15%;
    --muted-foreground: 227 5% 60%;
    --accent: 189 30% 15%;
    --accent-foreground: 227 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 227 5% 90%;
    --border: 227 30% 18%;
    --input: 227 30% 18%;
    --ring: 227 53% 18%;
    --radius: 0.5rem;
  }

  .css-button-gradient--5 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
}

.css-button-gradient--5:hover {
    background-position: right center;
}

.css-button-gradient--5:active {
    top: 2px;
}